torch>=1.13.1
#transformers>=4.37.2
transformers==4.40.2
datasets>=2.14.3
accelerate>=0.27.2
#peft>=0.10.0
peft==0.11.1
#trl>=0.8.1
trl==0.8.6
#gradio>=4.0.0
gradio==4.28.3
scipy
einops
sentencepiece
protobuf
uvicorn
#pydantic
#pydantic==1.10.4
fastapi
sse-starlette
matplotlib
fire
packaging
#cleme
scikit-learn
opencc
tabulate
spacy
ltp
pypinyin
rapidfuzz
errant
Levenshtein
bert_score